
html {
    display: block;
    font-family: lato, sans-serif;
    font-size: 100%;
    line-height: 1.25;
    color: #004e92;
    overflow: scroll;
}

body {
    font-family: lato, sans-serif;
    font-size: 100%;
    line-height: 1.25;
    color: #004e92;
}

main {
    position: fixed;
    padding-top: 3rem;
    top: 0;
    left: 0;
    background-color: white;
    background-image: url("bg.svg");
    background-position-x: 50vw;
    background-position-y: -15vh;
    background-repeat: no-repeat;
    background-size: 200vh;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

a {
    color: #004e92 !important;
}


p {
    padding: 0 !important;
    margin: 0 !important;
    font-family: lato, sans-serif;
    font-weight: 400 !important;
    font-size: 1.25rem !important;
    line-height: 1.5;
    color: #004e92 !important;
}

ul.uk-slideshow-items li h4 {
    font-family: lato, sans-serif;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    margin-bottom: 1.5rem !important;
    color: #FFFFFF;
}

ul.uk-slideshow-items li  p {
    padding: 0 !important;
    margin: 0 !important;
    font-family: lato, sans-serif;
    font-weight: 400 !important;
    font-size: 1.25rem !important;
    line-height: 1.5;
    color: #FFFFFF !important;
}




